.o
.d
.map
.dep
.axf
.hex
.lnp
.crf
.__i
._ia
.lst
.htm
.alfran
.Ciccio
.build_log.htm
.DS_Store
.directory

Projects/STM32F042K6-Nucleo/Applications/USB_Device/CDC_Standalone/MDK-ARM/STM32f042K6_NUCLEO32_USB